# Database Drivers
psycopg2-binary>=2.9.7
PyMySQL>=1.1.0

# Data Handling & Utilities
pandas>=2.2.0
pyyaml>=6.0
python-dotenv

# API & Web
fastapi
uvicorn
python-multipart
streamlit>=1.30.0

# ML / NLP
torch==2.3.0+cpu
transformers>=4.38.0
sentencepiece>=0.1.99

# Testing
pytest>=7.4.0
